.panier-body{
    background: 
        radial-gradient(600% 200px at 0% 0%, #000000bc 0, transparent 500%),
        /* url("/public/img/pexels-pixabay-260922.jpg") */
        url("/public/img/pexels-vanmalidate-769289.jpg")
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    box-shadow: 0 10px 10px #80808036;
    color: white;
}

.panier-container, .panier-container-livraison{
    margin: 0 2em;
}
.panier-container-livraison{
    margin-top: 1em;
}
.panier-header{
    backdrop-filter: blur(15px);
    background: transparent!important;
}
.plat-item-modal .items .actions-items{
    position: relative;
}
.plat-item-modal .btn-suppression{
    position: absolute;
    top: 40%;
    left: 45%;
    padding: 10px 15px;
    color: white;
    background-color: #ff7171;
    border: none;
    font-size: 15px;
    border-radius: 100%;
}
#invisible-btn{
    position: absolute;
    inset: 0;
    background:transparent;
    border: none;
    cursor: pointer;
}
#invisible-btn:hover{
    box-shadow: 0 0 4px #c26214;
}
.picture-panier-panier{
    position: relative;
    background-color: grey;
    backdrop-filter: blur(15px);
}
.picture-panier-panier img{
    /* border-top-right-radius: 10px; */
    display: block;
}
.picture-panier-panier .delete-dish{
    padding: 5px;
}

.plat-item-modal .items input.text{
  z-index: 0;
  border: transparent;
  background-color: transparent;
  padding: 3px 5px;
  font-size: 20px;
  opacity: 0.6;
  text-align: center;
  max-width: 100%;
  width: 44px;
}

.innertTotal{
    margin-top: 8px;
}

.hidden-part-plat{
    background-color: white;
    position: absolute;
    transition: 0.3s;
    inset: 0;
    transform: translateY(0);
}
.none-height{
    height: 0;
    transform: translateY(-10px);
    display: none;
}
.plat-item-modal .items span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c26214e7;
    color:white;
    padding: 6px 10px;
    border-bottom-right-radius: 5px;
}

.footer-main-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-main-container .category-plat-item{
    width: 33.33%;
}
.footer-main-container .category-plat-item .items{
    margin: 5px;
}
.footer-main-container .category-plat-item h4{
    background-color: #c2621430;
    color: #c26214;
    padding: 5px;
}
.footer-main-container .category-plat-item .plat-item{
    padding: 5px;
    background-color: #dadada23;
    border-bottom: 1px solid #c262141d;
    display: flex;
    justify-content: space-between;
}
.decompte-plats{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.modal-content-panier .panier_empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-content-panier .panier_empty .commandFromCart{
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: #c26214;
    color: white;
    border-radius: 5px;
    margin-top: 0.2em;
    margin-left: 20px;
    box-shadow: 0 0 10px grey;
}
.modal-content-panier .panier_empty h2{
    letter-spacing: 2px;
    font-size: 25px;
    color: #ff7171;
    background-color: #ff717128;
    padding: 10px 20px;
}


.modal-header-content-panier{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: black;
    position: relative;

}
.modal-header-content-panier{
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #145ac230;
}
.modal-header-content-panier a{
    margin-right: auto;
    margin-left: 15px;
    position: relative;
    color: var(--main-color);    
}

.modal-header-content-panier a:hover .tooltip-text{
    display: flex;
}

.modal-header-content-panier button{
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 3px; 
    display: inline-block;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px #80808041;
}
.modal-header-content-panier button.vider-panier{
    color: #ff7171;
    background-color: #ff71713b;
}
.modal-header-content-panier button.actualise{
    margin-left: 10px;
    color: #1a6a35;
    background-color: #1a6a3540;
}
.modal-header-content-panier button.vider-panier:hover{
    background-color: #ff717161;
}
.modal-header-content-panier button.vider-panier:hover .tooltip-text{
    display: flex;
}
.modal-header-content-panier button.actualise:hover{
    background-color: #1a6a3565;
}
.modal-header-content-panier button.actualise:hover .tooltip-text{   
    display: flex;
}

.tooltip-text{
    display: none;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 5px grey;
    letter-spacing: 1px;
    border-radius: 5px;
    position: absolute;
    color: var(--main-color);
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0.3s ease-in-out;
    white-space: nowrap;
}
