.action-item .reservation_show{
    color: var(--second-color);
    background-color: transparent;
    border: none;
}

.reservation-user-main{
    background-color: white;
    padding: 10px!important;
    height: 90%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px!important;
}

.reservation-user-main .modal-close{
    top: -2%;
    right: -2%;
}
