.styled-table {
    width: 100%;
    background: white;
    border-radius: 8px;
    margin-top: 20px;
}

.styled-table th,
.styled-table td {
    padding: 8px 10px;
    text-align: left;
}
.styled-table th{
  background: var(--bg);
  color: #64748B;
  font-size: 12px;
  text-transform: uppercase;
}

.styled-table td{
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}

.styled-table .options{
  display: flex;
  gap: 10px;
  justify-content: end;
}
.styled-table .options a{
  color: #b44500;
}

.styled-table tbody tr:hover {
  background-color: #c7c7c73b;
}

/* Badges statut */
.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
}


.badge.warning { background: #fef08a; color: #92400e; }
.badge.success { background: #bbf7d0; color: #166534; }
.badge.danger { background: #fecaca; color: #991b1b; }

/* Boutons */
.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn.success {
  background-color: #22c55e;
  color: white;
}

.btn.success:hover {
  background-color: #16a34a;
}

.commandes-guests{
  margin-top: 2em;
}