.reservations-body{
    background: 
        radial-gradient(600% 200px at 0% 0%, #000000bc 0, transparent 500%),
        /* url("/public/img/pexels-pixabay-260922.jpg") */
        url("/public/img/brianpenny-reserved-9112145_1920.jpg")
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    box-shadow: 0 2px 2px grey;
    color: white;
}

.reservations-header{
    backdrop-filter: blur(15px);
    background: transparent!important;
}

.reservation-main-contain{
    margin: 2em auto;
    width: 70%;
}
.horaires-reservation .time_part{
    display: flex;
    gap: 2em;
    align-items: end;
}
.horaires-reservation .horaires-item{
    position: absolute;
    top: 40%;
    right: 10%;
    left: 10%;
    box-shadow: 0 0 5px #80808062;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction:column ;
    justify-content: center;    
    /* height: 400px; */
}
.horaires-reservation .horaires-item .picture-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px 10px;
    border-right: 2px solid #9c9c9c32;
    justify-content: center;
}
.horaires-reservation .horaires-item .picture-part a{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.horaires-reservation .horaires-item .picture-part h1{
    margin-bottom: 20px;
}
.horaires-reservation .horaires-item .horaires-part{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    justify-content: center;
}
.horaires-reservation .horaires-item .item-part{
    display: flex;
}
.horaires-reservation .horaires-item h2{
    text-align: center;
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires .hours{
    border-radius: 40px;
    padding: 10px 20px;
    box-shadow: 0 0 10px #80808049;
    text-align: center;
    margin: 1em 0;
    width: 500px;
    max-width: 60%;

}
.horaires-reservation .horaires-item .horaires-part .opening-horaires .hours p{
    font-family: "Bahnschrift";
    font-size: 30px;
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid grey;
    margin: 1em 0 10px 0;
    color: var(--main-color);
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires h1{
    margin: 10px 0;
    background-color: #c78a0f19;
    letter-spacing: 2px;
    color: #c78a0f;
    border-radius: 3px;
    width: 700px;
    max-width: 80%;
    text-align: center;
    font-weight: lighter;
    box-shadow: 0 0 10px #80808046;
    padding: 10px 20px;
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires h1{
    font-family: "QuillPerpendicularRegular";
    font-size: 30px;
    opacity: 0.7;
    letter-spacing: 5px;
}
.horaires-reservation .horaires-item .horaires-part .opening-horaires small{
    font-weight: bold;
    font-size: 25px;
}
.reservation-containt-btn{
    text-align: center;
}
.reservation-btn{
    padding: 15px;
    background-color: #ff7300;
    color: white;
    border: none;
    width: 70%;
    font-size: 18px;
    box-shadow: 0 0 5px grey;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5pc;
    margin-top: 1em;
}
.informations-reservations {
    margin-top: 16em;
}
.informations-reservations h3{
    padding: 15px;
    text-transform: uppercase;
    color: var(--main-color);
    background-color: #5757b737;
    border-radius: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
}

.mon-sat-hours{
    
}




/* .plats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.plat {
    flex: 1 1 300px;
} */
 /* .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
} */