.header-content{
    width: 100%;
    margin: 1em auto 0 auto;
    padding-bottom: 2.5em;
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    opacity: 0.8; 
} 

.flatpickr-input {
    height: 50px;
    border-radius: 12px;
    border: 1px solid #ddd;
    padding: 0 15px;
}

.flatpickr-calendar {
    border-radius: 15px;
    box-shadow: 0 10px 30px #00000026;
}