.presentation-categories{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
    border-bottom:1px solid #8080802c;
}

.presentation-categories h1{
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: var(--second-color);
    text-transform: uppercase;
    opacity: 0.9;
}
.presentation-categories a{
    color: transparent;
    color: var(--main-color);
    transition: 0.4s;
    border-radius: 5px;
}
.presentation-categories button.open-category-modal{
    background-color: transparent;
    color: var(--main-color);
    border-radius: 3px;
    display: flex;
    position: relative;
    padding: 0 2px;
    align-items: center;
}
.presentation-categories .item{
    display: flex;
    justify-content: space-between;    
}

.presentation-categories a:hover{
    transform: scale(1.05);
}
mark {
    background: #ffd54a;
}

.categories-items{
    display: flex;
    flex-direction: column;
}

.category-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8080805c;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
}
.category-item p{
    color: var(--main-color);
    font-weight: bold;
}
.action-category{
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}

.action-category #show{
    border: 1px solid #1e3b8a4f;
}
.action-category #show svg{
    color: var(--main-color);
}
.action-category #edit{
    border: 1px solid #0e500e3d;
}
.action-category #edit svg{
    color: #0e500e;
}

.action-category #delete{
    background-color: #ff5b5b33;
    border: 1px solid #ff5b5b33;
}
.action-category #delete svg{
    color: #ff5b5b;
}

.all-ingredients button, .all-categories .action-category button, .action-category button, .action-category a, .action-category>*{
    border: none;
    background: transparent;
    padding: 5px;
    border-radius: 3px;
}

.lucide-trash2-icon{
    color: #ff5b5b;
}

.category_modal_item .modal-close{
    top: -7%!important;
    right: -3%!important;
}

.category_modal_item h1{
    text-align: center;
}
.open-category-modal, .open-ingredient-modal{
    border: none;
}
