.presentation-categories{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 2px solid #80808064;
}
.presentation-categories h1{
    font-size: 43px;
    opacity: 0.9;
}
.presentation-categories a{
    background: linear-gradient(to left, #1E3A8A, #2258ea);
    color: transparent;
    color: white;
    padding: 10px 15px;
    transition: 0.4s;
    border-radius: 5px;
}
.actions-item-categories{
    display: flex;
    gap: 10px;
}
.presentation-categories button{
    background-color: var(--second-color);
    color: var(--white-color);
    border-radius: 3px;
    display: flex;
    margin-right: auto;
    padding: 0 2px;
    margin-left: 20px;
    align-items: center;
}

.presentation-categories a:hover{
    background: linear-gradient(to right, #1E3A8A, #2258ea);
    transform: scale(1.05);
}

.categories-items{
    display: flex;
    flex-direction: column;
}

.category-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8080805c;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
}
.category-item p{
    color: var(--main-color);
    font-weight: bold;
}
.action-category{
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: center;
}


.all-ingredients button, .all-categories .action-category button{
    border: none;
    background: transparent;
}

.lucide-trash2-icon{
    color: #ff5b5b;
}

.category_modal_item .modal-close{
    top: -7%!important;
    right: -3%!important;
}

.category_modal_item h1{
    text-align: center;
}
.open-category-modal, .open-ingredient-modal{
    border: none;
}
.open-category-modal{
    position: relative;
}