/* 
.container-admin{
    padding-top: 1em;
}

.container-admin .header-container-admin{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: 
            radial-gradient(600% 200px at 0% 0%, #002a9e 0, transparent 100%),
            radial-gradient(600% 200px at 0% 0%, #1d4ccd 0, transparent 100%),
            #092570    ;
    padding: 10px 0;
    box-shadow: 5px 0 10px grey;
    width: 15%;
}


.container-admin .header-container-admin a{
    color: var(--white-color);
    padding: 20px 2em;
    transition: 0.3s;
    opacity: 0.9;
}
.hover, .container-admin .header-container-admin a.nav-link-admin:hover{
    background-color: #092570;
    box-shadow: 0.5px 0.6px 5px #3460d8;
    padding-left: 50px!important;
}
.container-admin .header-container-admin nav{
    display: flex;
    flex-direction: column;
}
.container-admin .header-container-admin nav{

}
.all-content-admin{
    flex: 100;
    margin-left: 250px;
    padding: 5px 3em 3em 3em;
}

.all-content-admin .authentification{
    text-align: end;
    border-radius: 3px;
    box-shadow: 0.3px 0.4px 5px grey;
    padding: 10px;
    display: flex;
    align-items: center;
}

.all-content-admin .authentification form{
    margin-left: auto;
}
.all-content-admin .authentification button{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #ff8585;
    border-radius: 5px;
}

.all-content-admin .content{
    margin-top: 2em;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.4px 5px grey;
}


*/

.btn-item-session{
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-item-session span{
    opacity: 0.7;
}
.success{
    background-color: #ecfdf3;
    color: #1d731d;
    border: 1px solid #bffcd9;
    box-shadow: 0 0 10px #8080802e;
}
.btn-session{
    position: absolute;
    top: -20%;
    left:-2%;
    border-radius: 100%;
    padding: 2px 1.5px;
    color: #1d731d;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.size-3{
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3)
}
.success button{
    background-color: #ecfdf3;
    border: 1px solid #bffcd9;
}
.delete button{
    background-color: #ff8989;
    border: 1px solid #da3232;
}
.delete{
    background-color: #ff8989;
    border: 1px solid #da3232;
} 


/* bouton */


/* menu fermé */
.item-options {
    position: absolute;
    z-index: 9999999;
    top: calc(100% - 5px);
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%) scale(.98);
    max-height: 0;
    transition: opacity .25s ease, transform .25s ease, max-height .25s ease, visibility .25s;
    box-shadow: 0 0 15px #80808044;
}


/* menu ouvert */
.item-options.active {
    opacity: 1;
    visibility: visible;
    z-index: 999999999;
    transform: translateY(10%) scale(1);
    max-height: 300px;
}



/* options */
.item-options li {
    padding: 10px 15px;
    cursor:pointer;
    transition: background .2s ease, padding-left .2s ease;
}


.item-options li:hover {
    background:#f1f1f1;
    padding-left:20px;
}

.clear-select, .user-row .clear-select{
    position: absolute;
    cursor: pointer;
    padding: 0 6px;
    right: 2%;
    top: 15%!important;
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--red-pall);
    border: 1px solid var(--red-color); 
    color: var(--red-color);
    background: transparent;
}
.clear-select:hover{
    border: 1px solid var(--white-color); 
    color: var(--white-color);
    background-color: var(--red-color);
}
