/* 
.container-admin{
    padding-top: 1em;
}

.container-admin .header-container-admin{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: 
            radial-gradient(600% 200px at 0% 0%, #002a9e 0, transparent 100%),
            radial-gradient(600% 200px at 0% 0%, #1d4ccd 0, transparent 100%),
            #092570    ;
    padding: 10px 0;
    box-shadow: 5px 0 10px grey;
    width: 15%;
}


.container-admin .header-container-admin a{
    color: var(--white-color);
    padding: 20px 2em;
    transition: 0.3s;
    opacity: 0.9;
}
.hover, .container-admin .header-container-admin a.nav-link-admin:hover{
    background-color: #092570;
    box-shadow: 0.5px 0.6px 5px #3460d8;
    padding-left: 50px!important;
}
.container-admin .header-container-admin nav{
    display: flex;
    flex-direction: column;
}
.container-admin .header-container-admin nav{

}
.all-content-admin{
    flex: 100;
    margin-left: 250px;
    padding: 5px 3em 3em 3em;
}

.all-content-admin .authentification{
    text-align: end;
    border-radius: 3px;
    box-shadow: 0.3px 0.4px 5px grey;
    padding: 10px;
    display: flex;
    align-items: center;
}

.all-content-admin .authentification form{
    margin-left: auto;
}
.all-content-admin .authentification button{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #ff8585;
    border-radius: 5px;
}

.all-content-admin .content{
    margin-top: 2em;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0.3px 0.4px 5px grey;
}


*/

.btn-item-session{
    padding: 15px 20px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 3%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-item-session span{
    opacity: 0.7;
}
.success{
    background-color: #ecfdf3;
    color: #1d731d;
    border: 1px solid #bffcd9;
    box-shadow: 0 0 10px #8080802e;
}
.btn-session{
    position: absolute;
    top: -20%;
    left:-2%;
    border-radius: 100%;
    padding: 2px 1.5px;
    color: #1d731d;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.size-3{
    width: calc(var(--spacing) * 3);
    height: calc(var(--spacing) * 3)
}
.success button{
    background-color: #ecfdf3;
    border: 1px solid #bffcd9;
}
.delete button{
    background-color: #ff8989;
    border: 1px solid #da3232;
}
.delete{
    background-color: #ff8989;
    border: 1px solid #da3232;
} 

.item-select {
    width:250px;
    position:relative;
}


.item-btn-select {
    width:100%;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
    border: 1px solid #1e3b8a67;
    background-color: white;
}


.item-options {
    position:absolute;
    width:100%;
    background:white;
    display:none;
    list-style:none;
    box-shadow: 0 0 10px #8080802f;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;

}


.item-options li {
    padding:10px;
    cursor:pointer;
    opacity: 0.8;
    color: var(--main-color);
}


.item-options li:hover {
    background:#1e3b8a2c;
}

